@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply px-2 md:px-8 py-1 border bg-blue-400 rounded text-white hover:bg-blue-600 items-center
}

button.green {
  @apply bg-green-600
}

button:disabled {
  @apply bg-gray-400 cursor-not-allowed
}